body {
    text-align: center;
    background-image: url("backgroundpic.jpg");
    background-repeat: no-repeat;
   color: #3b0303;
   background-size:cover; 
}



h1 {
    border-style: double ;
    border-radius: 10px;
}



label {

    font-weight: 300px;
}

label:hover {
    text-decoration: underline;
    background-color: rgb(182, 208, 222);
}


button {
    outline: 2px solid tan;
    color: black;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    transition-duration: 0.4s;

}

button:hover {
    background-color: rgb(33, 140, 207);
    color: black;
}




 /* small devices */
@media (min-width:600px) {
body {
    text-align: center;
    background-image: url("backgroundpic.jpg");
    background-repeat: no-repeat;
    color:#3b0303 ;
   background-size:cover;
}
} 



/* desktop/laptops */
@media (min-width: 992px) {

    body {
    text-align: center;
    background-image: url("backgroundpic.jpg");
    background-repeat: no-repeat;
    color: #3b0303;
   background-size:cover;
}
}